examples/src/main/app/activity.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:spring="http://www.springframework.org/schema/beans"
    xmlns:mql="http://www.mulesoft.org/schema/mule/mql" 
    xmlns:twitter="http://www.mulesoft.org/schema/mule/twitter"
    xmlns:yammer="http://www.mulesoft.org/schema/mule/yammer"
    xmlns:json="http://www.mulesoft.org/schema/mule/json"
    xsi:schemaLocation="
               http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/mql http://www.mulesoft.org/schema/mule/mql/current/mule-mql.xsd
               http://www.mulesoft.org/schema/mule/twitter http://www.mulesoft.org/schema/mule/twitter/current/mule-twitter.xsd
               http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
               http://www.mulesoft.org/schema/mule/yammer http://www.mulesoft.org/schema/mule/yammer/1.0-beta-1/mule-yammer.xsd
               ">
    <twitter:config name="twitter" 
                    consumerKey="${twitter.consumer.key}" 
                    consumerSecret="${twitter.consumer.secret}"/>
                          
    <yammer:config name="yammer" 
                   consumerKey="${yammer.consumer.key}" 
                   consumerSecret="${yammer.consumer.secret}" />
        
    <flow name="get-activity">
        <inbound-endpoint address="http://localhost:9002/activity" exchange-pattern="request-response"/>
        <all>
            <mql:transform query="from yammer.messages select new { text = body.plain }" />
            <mql:transform query="from twitter.publicTimeline as tweet select new { text = tweet.text }" />
        </all>
        <combine-collections-transformer/>
        <response>
            <json:object-to-json-transformer/>
        </response>
    </flow>
        
    <flow name="request-authorization">
        <inbound-endpoint address="http://localhost:9002/yammer/request-authorization"/>
        <yammer:request-authorization/>
        <message-properties-transformer>
            <add-message-property key="http.status" value="302"/>
            <add-message-property key="Location" value="#[payload]"/>
        </message-properties-transformer>
    </flow>
    
    <flow name="set-oauth-verifier">
        <inbound-endpoint address="http://localhost:9002/yammer/set-oauth-verifier"/>
        <yammer:set-oauth-verifier oauthVerifier="#[header:inbound:verifier]"/>
    </flow>
</mule>

